/* Body and Header */
body {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    background-color: #f2f2f2;
}

.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px;
}

/* Container */
.container {
    display: flex;
    padding: 20px;
}


.left-column {
    width:55vw;
    height:84vh;
}

.right-column {
    width:40vw;
    height:84vh;
}

#map_header {
    text-align: center;
}

#map {
    width: 97%;
    height:65%;
    margin-bottom: 20px;
    background:green;

}

.weather-heading {
    font-size: 20px;
    margin-top: 0;
}

.weather-container {
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.weather-container img {
    height: 60px;
    margin-right: 10px;
}

.temperature {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.description {
    margin: 0;
}

/* Right Column */
.right-column {
    flex: 1;
}

.bike-station-select {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
}

#station-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#station-table th {
    background-color: #333;
    color: white;
    text-align: left;
    padding: 10px;
}

#station-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#station-table td {
    border: 1px solid #ddd;
    padding: 10px;
}