/* Body and Header */
body {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    background-color: #f2f2f2;
}

.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px;
}

/* Container */
.container {
    display: flex;
    padding: 20px;
}


.left_column {
    width:55vw;
    height:84vh;
}

#left

.right_column {
    width:40vw;
    height:84vh;
}

#map_header {
    text-align: center;
}

#map {
    width: 97%;
    height:65%;
    margin-bottom: 20px;
    background:green;

}

#weather_heading {
    font-size: 20px;
    margin-top: 0;
}

#weather_info {
    display:flex;
}

#forecast_window{
    display:flex;
    list-style:none;
}

.future_weather{
    padding-right:30px;
}

#left_curr {

}
#right_future{

}

#weather_container {
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#weather_container img {
    height: 60px;
    margin-right: 10px;
}



#temperature {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

#description {
    margin: 0;
}


.right_column {
    flex: 1;
}

#bike_station_select {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
}

#station_table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#station_table th {
    background-color: #333;
    color: white;
    text-align: left;
    padding: 10px;
}

#station_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#station_table td {
    border: 1px solid #ddd;
    padding: 10px;
}

#graph-button, #graph-button2 {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#graph-container {
  width: 600px;
  height: 280px;
  border: 1px solid black;
}